/* --- RESPONSIVITET --- */

/* --- Responsivt för laptops/tablets --- */
@media (max-width: 1281px) {
    .gallery-specific {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section3 {
        width: 80%;
    }
}

/* --- Responsivt för portrait tablets: 1-2 kolumner visas --- */
@media (max-width: 992px) {
    #footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-image {
        background-position: unset;
    }

    .gallery-specific,
    .section3 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* --- Responsivt för mobil: 1 kolumn visas samt hamburgermeny --- */
@media (max-width: 769px) {
    .section1-heading {
        font-size: 2rem;
    }
    /*Bilder syns inte vid liten skärm */
    #index2,
    .about-img { 
        display: none;
    }

    .section2 {
        font-size: smaller;
    }

    #index-specific,
    #blogg-specific,
    #footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card img {
        width: 80%;
        height: auto;
    }

    input[type=checkbox]:checked ~ li{
        display: block;
       }
       
    li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .about-row {
        align-items: center;
    }

    .main, 
    .main h1,
    .card span {
        font-size: smaller;
    }
}

