/* --- GENERELLT --- */
* {
    font-family: 'Pangolin', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: aliceblue;
    font-size: 1.8rem;
    color: black;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
    }
    
div {
    display: block;
}
    
/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content:space-around; 
    background-color: #007eb2; 
    background-color: rgb(72, 112, 123); 
    background-color: #293845; 
    background-color: #030608;
    background-color: #abc8d7;
    background-color: rgb(163, 144, 135);
    background-color: #6ea5b3;
    padding: 30px 5px 20px 5px;
}

.navbar div {
    display: flex;
    align-items: left;
    width: 50px;
    height: 50px;
    padding: 0 10rem 0 1rem;
}

.navbar p {
    font-style: italic;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    padding-left: 1rem;
    color: white;

}

ul, li, a {
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;  
    color: black;
  }


/* --- SEKTIONER --- */
.hero-image {
    min-height: 500px;
    color: black;
    background-image: url("img/swedMountain.jpg");
    opacity: 0.9;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.hero-image p {
    font-size: 2rem;
    color: white;
}

.section2 h5 {
    margin: 0;
    min-height: 100px;
    background-color: #a39087;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


/* --- Specifikt för sidan INDEX --- */
#index-specific {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 80%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    line-height: 1.5;
}

#index1 { 
    text-align: justify; 
    padding: 0 3rem;
}

#index1 p { 
    font-size: 1.2rem;
}

#index2 {
    border: solid black 2px;
    position: relative;
    width: 100%;
    height: 450px;
    box-shadow: 5px 5px 10px gray;
}

#index2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.index-specific-beige {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 3rem;
    background-image: linear-gradient(to bottom, rgb(163, 144, 135, 0.4), rgba(226, 234, 240, 0));
}

.index-specific-beige-text {
    text-align: center;
    padding: 3rem;
} 

#index-button {
    align-items: center;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid; 
    border-image: linear-gradient(to right, #293845, #007eb2) 1;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
}


/* --- Specifikt för sidan VÅRA RESOR --- */
.section3 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 70%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

.section3 figure {
    padding: 2rem 0;
    border-radius: 5px;
}

.card {
    margin: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bodytext p {
    text-align: justify;
    padding: 1rem; 
}

.card a {
    text-decoration: underline;
    font-size: 12px;  
}

.section3 figure {
    text-align: center;
    background-color: #abc8d7;;
}

.bodytext {
    font-size: 1.2rem;
    padding: 10px;
}

/* --- Specifikt för sidan BLOGG & RESETIPS --- */
#blogg-specific {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.blogg-date {
    font-size: 12px;
    font-style: italic;
    
}

#blogg1, #blogg2, #blogg3, #blogg4 {
border: solid black 1px;
padding: 1rem;
background-color: #e3f0f6;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
margin-bottom: 3rem;
}


#blogg1 h4, #blogg2 h4, #blogg3 h4, #blogg4 h4 {
    padding-top: 1rem;
}

#blogg1 h5, #blogg2 h5, #blogg3 h5, #blogg4 h5 {
    color: #0a94b6;
}

#blogg1 p, #blogg2 p, #blogg3 p, #blogg4 p {
    font-size: 1.2rem;
}




/* --- Specifikt för sidan GALLERI --- */
h3.gallery {
    text-align: center;
    padding-top: 4rem;
}

.gallery-specific {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery-specific span {
    font-size: 1.2rem;
}

.gallery-specific .card {
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0.5, 0.5, 0.5, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .gallery-specific .card:after {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .gallery-specific .card:hover {
    transform: scale(1.02);
  }
  

/* --- Specifikt för sidan NYHETSBREV --- */
.main {
    padding: 1rem 5rem;
    min-height: 600px;
    background-image:
        linear-gradient(to bottom, rgba(72, 112, 123, 0.3),rgba(226, 234, 240, 0.9)),
        url('swedMountain.jpg');
    background-size: 100% 100%;
    /* overflow-wrap: break-word; */
}

form {
    display: block;
}

.input {
	background-color: #fff;
	border: none;
    border: 1px solid #d2cfcc;
	padding: 1rem;
	margin: 0.5rem 0;
	width: 50%;
}

input.submitBtn {
    display: inline-block;
    background: linear-gradient(to bottom white, lightgray);
    color: #48707b; 
    text-align: center;
    font-weight: bold;
    width: 10%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem;
}


/* --- specifikt för sidan OM --- */

.about-specific {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3f0f6;
    
   
}

.about-specific h3 {
    text-align: center;

}    

.about-specific h4, .about-specific p {
    text-align: left;

}  

.about-img img {
    border: solid #007eb2;
    object-fit: cover;

}

.about-row {
    min-height: 100px;
    /* border: solid #007eb2; */
    display: flex;
    margin: 2rem;
}

.flex-parent {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 2rem 0;
}




.about-text-container h4 {
  margin-bottom: 2rem;
  color: #007eb2;
}

.about-text-container p {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-right: 2rem;
    
}





/* --- FOOTER --- */

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #293845;
    color: white;
    padding: 3rem 0 3rem 6rem;
    /* padding-bottom: 3rem; */
}

.address {
    font-size: 1.8rem;
    /* color: white; */
}

.address h3, .email h3, .social h3 {
    padding-bottom: 2rem;
}

.email a {
    font-size: 1.8rem;
    color: white;
}

.social i {
    color: white;
    padding-right: 1rem;
    font-size: larger;
    /* display: grid;
    align-items: center;  */
}
   

.copy {
    grid-column: 1 / -1; /* för att tvinga grid över hela bredden */
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}

